body {
    background-image: url(https://media.gettyimages.com/vectors/music-dandelion-flower-vector-vector-id471283034?b=1&k=6&m=471283034&s=612x612&w=0&h=CGl-aHJwc_tzBwhtCX9jnoRmXu9c64kOR1zFM5oDdWo=);
    background-repeat: no-repeat;
    background-size: cover;
}
.piano {
    background-color: rgb(102, 102, 102);
    position: fixed;
    top: 45%;
    right: 10%;
    height: 20em;
    cursor: pointer;
}


.white-key {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-auto-rows: 20em;
    width: 40em;
    background-color:rgb(204, 204, 204);
    border: 1px solid black;
}
.white-key div {
    border: 1px solid rgb(0, 0, 0);
    
}
.black-key {
    position: relative;
    top: -20em;
    height: 12em;
    width: 40em;
}
.black-key div {
    background-color: black;
    position: absolute;
    height: 12em;
    width: 2em;
    border: 1px solid black;
}

#db0 {
    left: 1.6em;
}
#eb0 {
    left: 4.3em;
}
#gb0 {
    left: 9.6em;
}
#ab0 {
    left: 12.3em;
}
#bb0 {
    left:15em;
}
#db1 {
    left: 20.3em;
}
#eb1 {
    left: 23em;
}
#gb1 {
    left: 28.3em;
}
#ab1 {
    left: 30.9em;
}
#bb1 {
    left: 33.6em;
}

.black-key div:active, .white-key div:active {
    background-color: rgb(146, 0, 0);
}